<div>
    <bootstrap-grid>
        <row>
            <column sm="12" md="12" lg="12">
                <header>
                    <h1>CAR TRACKER</h1>
                </header>
            </column>
        </row>
        <row>
            <column sm="2" md="2" lg="2">
                <app-menu-bar></app-menu-bar>
            </column>
            <column sm="10" md="10" lg="10">
                <div class="divStyle">
                    <router-outlet></router-outlet>
                </div>
            </column>
        </row>
        <row>
            <column sm="12" md="12" lg="12">
                <footer> </footer>
            </column>
        </row>
    </bootstrap-grid>
</div>